body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color5);
}
section{
  width: 100%;
  height: calc(100vh - 150px);
}
#home{
  margin-top: 150px;
}